body{
	background-color: #111118;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#raphael-container{
	position:absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left:  -250px;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #111118;
}

.overlay-subtext, .overlay-text, .control{
	color: #1495ff;
	font-family: "Source Code Pro", sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}

.control{
	height: 15px;
	width: 15px;
	margin: 10px;
	cursor: pointer;
}

.disabled{
	opacity: .5;
}
.overlay-text, .overlay-subtext{
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 101;
	transform: translateY(-50%);
	text-align: center;
	font-size: 48px;
}

.overlay-subtext{
	margin-top: 58px;
	font-size: 36px;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
@-moz-keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
@-webkit-keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#reset-icon.spin{
	animation: spin .5s 1;
	-moz-animation: spin .5s 1;
	-webkit-animation: spin .5s 1;
}